@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

/* Pages */

.page-header {
  background-color: #ffffff;
}

.navigation {
  width: 1200px;
  height: 64px;
  margin: 0 auto;
  display: flex;
}

.navigation-logo {
  width: 138px;
  display: flex;
  position: relative;
}

.page-header-logo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list-menu {
  width: 339px;
  margin-left: 30px;
  padding: 0;
}

.navigation-menu-link,
.navigation-user-link {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
}

.navigation-menu-link-active {
  border-bottom: 2px solid #756257;
}

.navigation-user-item,
.navigation-menu-item {
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.navigation-menu-item {
  padding: 0 16px;
}

.navigation-list-user {
  max-width: 268px;
  margin-left: auto;
}

.navigation-link,
.navigation-user-link,
.navigation-menu-link {
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user-link-icon  {
  width: 44px;
}

.navigation-user-button {
  width: 160px;
  height: 36px;
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
}

.navigation-search {
  background: url(../images/icons/search.svg) center no-repeat;
}

.navigation-favorites {
  background: url(../images/icons/heart.svg) center no-repeat;
  position: relative;
}

.navigation-favorites:before {
  content: '12';
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11px;
  right: 4px;
  font-size: 10px;
  font-weight: 400;
  border-radius: 50%;
  background-color: #7db54f;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.logo {
  position: relative;
  width: 1200px;
  height: 485px;
  background-color: #ffffff;
  background: url(../images/main-banner/decor-banner.svg) bottom no-repeat,
    url(../images/main-banner/welcome.png) center 50px no-repeat,
    url(../images/main-banner/main-logo.jpg) top no-repeat;
  background-size: 101%, auto, auto;
}

.logo-text-one {
  display: block;
  margin: 0 auto;
  padding: 50px 0 11px;
}

.logo-text-two {
  display: block;
  margin: 0 auto;
  padding-bottom: 55px;
}

.logo-text-three {
  display: block;
  margin: 0 auto;
  padding-bottom: 25px;
}

.decoration-banner {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.title-description {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  display: block;
  margin: 70px auto 25px;
  width: 620px;
  text-transform: uppercase;
}

.subtitle {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  display: block;
  margin: 0 auto;
  margin-bottom: 90px;
  width: 670px;
}

.features {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  background-color: #82B3D3;
  text-align: center;
}

.features-description {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.features-title {
  text-align: center;
  font-weight: 700; 
  font-size: 24px;
  line-height: 28px;
  position: relative;
  margin: 32px 0;
  text-transform: uppercase;
}

.features-title:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  top: calc(100% + 30px);
  left: calc((100% - 60px)/2);
}

.features-subtitle {
  width: 230px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin: 30px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.advantages-list {
  width: 1200px;
  height: 384px;
  text-align: center;
  display: flex;
}

.advantages-item {
  width: 400px;
  height: 100%;
  padding: 0 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-gray {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  margin: 0 0 30px;
  width: 175px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  position: relative;
}

.advantages-item-with-separator .advantages-title:after {
  content: '';
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  top: calc(100% + 30px);
  left: calc((100% - 60px)/2);
  /*left: 50%;
  transform: translateX(-50%);*/
}

.advantages-item-with-icon .advantages-title {
  margin: 0;
}

.advantages-icon-house {
  background: url(../images/advantages/Advantage-icon-house.svg) center no-repeat;
}

.advantages-icon-food {
  background: url(../images/advantages/Advantage-icon-food.svg) center no-repeat;
}

.advantages-icon-souvenir {
  background: url(../images/advantages/Advantage-icon-present.svg) center no-repeat;
}

.advantages-icon {
  width: 75px;
  height: 72px;
  margin: 0 0 30px;
  background-size: contain;
}

.advantages-description {
  margin: 30px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.search-hotels {
  width: 592px;
  height: 406px;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-hotels-title {
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-hotels-subtitle {
  margin: 0 0 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.search-button {
  width: 375px;
  height: 52px;
  font-size: 20px;
  line-height: 36px;
}

.offer-letter {
  width: 1200px;
  height: 414px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.offer-letter-index {
  color: #fff;
  background: url("../images/back_image_mail.jpg") no-repeat;
  background-size: cover;
}

/*.offer-letter-catalog {
  color: #000;
}*/

.offer-letter-container {
  width: 684px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offer-letter-title {
  margin: 0 0 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.offer-letter-description {
  margin: 0 0 54px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.offer-letter-form {
  width: 100%;
  display: flex;
}

.offer-letter-input {
  width: 100%;
  height: 52px;
}

.offer-letter-input::placeholder {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  opacity: 0.6;
}

.offer-letter-button {
  min-width: 232px;
  height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
}

.page-footer-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.contacts {
  padding: 40px 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-social {
  height: 40px;
}

.contacts-social-list {
  width: 142px;
  height: 100%;
  display: flex;
}

.contacts-social-item {
  width: 33.3333%;
  height: 100%;
  display: flex;
}

.contacts-social-link-vk {
  background-image: url(../images/icons/vk.svg);
}

.contacts-social-link-vk:hover,
.contacts-social-link-vk:focus,
.contacts-social-link-vk:active {
  background-image: url(../images/icons/vk_event.svg);
}

.contacts-social-link-tg {
  background-image: url(../images/icons/telegram.svg);
}

.contacts-social-link-tg:hover,
.contacts-social-link-tg:focus,
.contacts-social-link-tg:active {
  background-image: url(../images/icons/telegram_event.svg);
}

.contacts-social-link-youtube {
  background-image: url(../images/icons/youtube.svg);
}

.contacts-social-link-youtube:hover,
.contacts-social-link-youtube:focus,
.contacts-social-link-youtube:active {
  background-image: url(../images/icons/youtube_event.svg);
}

.contacts-social-link-vk:active,
.contacts-social-link-tg:active,
.contacts-social-link-youtube:active {
  opacity: 0.3;
}

.contacts-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-link:hover,
.contacts-link:focus,
.contacts-link:active {
  background-image: url(../images/icons/htmlacademy_event.svg);
}

.contacts-link {
  width: 115px;
  height: 33px;
  background-image: url(../images/icons/htmlacademy.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.contacts-phone:hover,
.contacts-phone:focus {
  color: #756157;
}

.contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

/** CATALOG **/

.catalog-header {
  min-width: 1200px;
  padding: 35px 0;
  background-image: url("../images/catalog/banner-filtr.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.catalog-header-title {
  margin: 0 0 40px;
}

.catalog-title {
  margin: 0 0 8px;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs-item {
  margin: 0 10px 0 0;
}

.breadcrumbs-link {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: block;
}

.breadcrumbs-link-index {
  width: 12px;
  height: 12px;
  background: url(../images/catalog/icons/main-house.svg) center no-repeat;
}

.breadcrumbs-arrow {
  width: 8px;
  height: 11px;
  background: url(../images/catalog/icons/arrow.svg) center no-repeat;
  display: block;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group:first-child {
  margin: 0 70px 0 0;
}

.catalog-filter-group-title {
  margin: 0 0 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-price {
  width: 288px;
  margin: 0 70px 0 0;
}

.catalog-view-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-view-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-filter-type,
.catalog-filter-total {
  display: flex;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

.catalog-filter-row {
  display: flex;
}

.catalog-filter-item {
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}

.catalog-filter-label {
  padding: 0 0 0 36px;
  cursor: pointer;
  position: relative;
}

.catalog-filter-box {
  flex: 1;
  height: 48px;
  position: relative;
}

.catalog-filter-box:first-of-type {
  margin: 0 2px 0 0;
}

.catalog-filter-input-note {
  width: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 20px;
  opacity: 0.3;
}

.catalog-filter-submit {
  width: 190px;
}

.catalog-form-button {
  width: 100%;
  height: 36px;
}

.catalog-form-button:first-of-type {
  margin: 0 0 32px;
}

.catalog-filter-input {
  width: 100%;
  height: 100%;
}

.catalog-result {
  padding: 40px 0;
  border-bottom: 1px solid #e6e6e6;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
}

.catalog-view-types {
  display: flex;
  height: 48px;
}

.catalog-view-type {
  width: 48px;
  height: 48px;  
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}

.catalog-view-label {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  border-radius: 4px;
  border: 2px solid #e5e5e5;
  box-sizing: border-box;
}

.catalog-view-type:hover .catalog-view-label,
.catalog-view-input:active + .catalog-view-label,
.catalog-view-input:checked + .catalog-view-label {
  border-color: #000;
}

.catalog-view-input:focus + .catalog-view-label {
  border-color: #68A2CA;
}

.catalog-view-type:not(:last-of-type) {
  margin: 0 8px 0 0;
}

.catalog-view-type-tile {
  background: url(../images/catalog/icons/tile.svg) center no-repeat;
}

.catalog-view-type-slider {
  background: url(../images/catalog/icons/slider.svg) center no-repeat;
}

.catalog-view-type-list {
  background: url(../images/catalog/icons/list.svg) center no-repeat;
}

.catalog-sort-box {
  width: 292px;
  height: 48px;
  margin: 0 70px 0 0;
  position: relative;
}

.catalog-sort-select {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-sort-select:hover,
.catalog-sort-select:focus {
  border-color: #68A2CA;
}

.catalog-sort-select:active,
.catalog-sort-select:target {
  border-color: #3F5E72;
}

.catalog-sort-select:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.catalog-item {
  padding: 20px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-sizing: border-box;
}

.catalog-item-image {
  width: 100%;
  height: 212px;
  margin: 0 0 16px;
}

.catalog-item-title {
  margin: 0 0 16px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.catalog-item-row {
  display: flex;
  justify-content: space-between;
}

.catalog-item-row:not(:last-of-type) {
  margin: 0 0 16px;
}

.catalog-item-type,
.catalog-item-price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
}

.catalog-item-stars {
  height: 36px;
  display: flex;
  align-items: center;
}

.catalog-item-star {
  width: 18px;
  height: 17px;
  margin: 0 8px 0 0;
  background: url(../images/catalog/icons/star.svg) center no-repeat;
}

.catalog-item-button {
  width: 140px;
  height: 36px;
}

.catalog-item-rating {
  width: 140px;
  height: 37px;
  color: #333;
  background: #F2F2F2;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}


.catalog-navigation {
  padding: 40px 0;
}

.catalog-pagination {
  display: flex;
  align-items: center;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-item:not(:last-of-type) {
  margin: 0 8px 0 0;
}

.pagination-link {
  width: 100%;
  height: 100%;
  display: flex;
  color: #fff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000;
}

.pagination-link-more {
  color: #000;
  background-color: transparent;
}


/** common fix */
.visually-hidden {
  display: none;
}

input[type=radio],
input[type=checkbox] {
  display: none;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.catalog-filter-input-radio + .catalog-filter-label:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  display: block;
  border: 3px solid transparent;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-filter-input-radio:checked + .catalog-filter-label:after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.catalog-filter-input-checkbox + .catalog-filter-label:before {
  content: '';
  width: 20px;
  height: 20px;
  margin: 0 16px 0 0;
  display: block;
  border-radius: 4px;
  background-color: #fff;
  border: 3px solid transparent;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-filter-input-checkbox:checked + .catalog-filter-label:after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(../images/catalog/icons/checked.svg) center no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.catalog-filter-item:hover {
  opacity: 0.6;
}

.catalog-filter-input-radio:focus + .catalog-filter-icon:before,
.catalog-filter-input-checkbox:focus + .catalog-filter-label:before {
  border-color: #83B3D3;
}

.catalog-filter-input-radio:active + .catalog-filter-label,
.catalog-filter-input-checkbox:active + .catalog-filter-label {
  opacity: 0.3;
}

.page-input {
  padding: 0 20px;
  outline: 0;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.page-input-left {
  border-radius: 4px 0 0 4px;
}

.page-input-right {
  border-radius: 0 4px 4px 0;
}

.page-input-radius {
  border-radius: 4px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  border: 0;
  cursor: pointer;
}

.button label {
  cursor: pointer;
}

.button-right {
  border-radius: 0 4px 4px 0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.button-brown,
.button-brown:active {
  color: #ffffff;
  background-color: #756157;
}

.button-brown:hover,
.button-brown:focus {
  background-color: #615048;
}

.button-blue,
.button-blue:active {
  color: #ffffff;
  background-color: #82B3D3;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68A2CA;
}

.button-blue:disabled {
  background-color: #E5E5E5;
}

.button-green,
.button-green:active {
  color: #fff;
  background-color: #7DB54F;
}

.button-green:hover,
.button-green:focus {
  background-color: #6C9E42;
}

.button-transparent {
  color: #fff;
  background-color: transparent;
}

.button-transparent:hover {
  opacity: 0.6;
}

.button-transparent:focus {
  border: 3px solid #83B3D3;
  box-sizing: border-box;
}

.button-transparent:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-transparent:disabled {
  opacity: 0.1;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 36px 0 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #fff;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
}


/* modals */
.modals {}

.modals-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(242, 242, 242, 0.8);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-search {
  width: 717px;
  height: 576px;
  padding: 64px 70px;
  background-color: #fff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  box-sizing: border-box;
  position: relative;
}

.modal-search-title {
  margin: 0 0 64px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.modal-search-row,
.modal-search-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.modal-search-row {
  margin: 0 0 48px;
}

.modal-search-column:first-of-type {
  margin: 0 88px 0 0;
}

.modal-search-label {
  display: flex;
  font-size: 20px;
  line-height: 24px; 
  font-weight: 700;
  position: relative;
}

.modal-search-input-box {
  position: relative;
}

.modal-search-input {
  width: 440px;
  height: 48px;
}

.modal-search-input-icon {
  width: 20px;
  height: 100%;
  background: url(../images/icons/date.svg) center no-repeat;
  position: absolute;
  top: 0;
  right: 20px;
}

.modal-search-input-spinner-minus,
.modal-search-input-spinner-plus {
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0;
  cursor: pointer;
}

.modal-search-input-spinner-minus {
  left: 0;
  background: url(../images/icons/button-minus.svg) center no-repeat;
}

.modal-search-input-spinner-plus {
  right: 0;
  background: url(../images/icons/button-plus.svg) center no-repeat;
}

.modal-search-input-note {
  padding: 4px 20px;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #333;
  position: absolute;
  top: 100%;
  left: 0;
}

.modal-search-input-error {
  color: #FF5757;
}

.modal-search-input-spinner {
  width: 110px;
  padding: 0 40px;
  text-align: center;
}

.modal-search-label-info {
  width: 26px;
  height: 26px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  background: url(../images/icons/info.svg) center no-repeat #83B3D3;
  cursor: pointer;
}

.modal-search-label-info:hover + .popover {
  visibility: visible;
}

.modal-search-button {
  width: 100%;
  height: 60px;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.modal-search-close {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: url(../images/icons/cross.svg) center no-repeat #f2f2f2;
  border: 3px solid transparent;
  display: block;
  position: absolute;
  top: 64px;
  right: 52px;
  cursor: pointer;
  box-sizing: border-box;
}

.modal-search-close:hover,
.modal-search-close:focus {
  background-color: #e6e6e6;
}

.modal-search-close:focus {
  border-color: #83B3D3;
}

.modal-search-close:active {
  opacity: 0.3;
}

#modal-search + .modals-overlay {
  display: none;
}

#modal-search:checked + .modals-overlay {
  display: flex;
}

.popover {
  visibility: hidden;
  width: 256px;
  position: absolute;
  top: 100%;
  left: -60%;
  padding: 15px 0 0;
  z-index: 10;
}

.popover-content {
  padding: 15px 18px 18px 22px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
  background-color: #333;
  border-radius: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
}

.popover-arrow {
  width: 13px;
  height: 13px;
  display: block;
  position: absolute;
  top: 9px;
  left: calc((100% - 13px)/2);
  transform: rotate(45deg);
  background-color: #333;
}
